{% extends "base.html" %}
{% load static %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content %}
<h1>Your shopping cart</h1>
<table class='cart'>
<thead>
<tr>
<th>Image</th>
<th>Product</th>
<th>Quantity</th>
<th>Remove</th>
<th>Unit price</th>
<th>Price</th>
</tr>
</thead>
<tbody>
{% for item in cart %}
{% with product=item.product %}
<tr>
<td>
<a href="{{ product.get_absolute_url }}">
<!--img src="{% if product.image %}{{ product.image.url }}
{% else %}{% static "img/no_image.png" %}{% endif %}"-->
</a>
</td>
<td>{{ product.product_name }}</td>
<td>
    <form action="{% url "cart:cart_add" product.id %}" method="post">
    {{ item.update_quantity_form.quantity }}
    {{ item.update_quantity_form.override }}
    <input type="submit" value="Update">
    {% csrf_token %}
    </form>
    </td>
    
<td>
<form action="{% url "cart:cart_remove" product.id %}"
method="post">
<input type="submit" value="Remove">
{% csrf_token %}
</form>
</td>
<td class="num">${{ item.price }}</td>
<td class="num">${{ item.total_price }}</td>
</tr>
{% endwith %}
{% endfor %}
<tr class="total">
    <td>Total</td>
    <td colspan="4"></td>
    <td class="num">${{ cart.get_total_price }}</td>
    </tr>
    </tbody>
    </table>
    <p class="text-right">
    <a href="{% url "home" %}" class="button
    light">Continue shopping</a>
    {% if request.user.is_authenticated %}
    {% if user_profile.account_type == 'Retailer' %}
    <a href="{% url "orders:order_create" %}" class="button">Checkout</a>
    {% elif user_profile.account_type == 'Supplier' %}
    <a href="{% url "logout" %}" class="button">Create a retailer account to shop</a>
    {% elif user_profile.account_type == None %}
    <a href="{% url "dashboard" %}" class="button">Complete your profile as a retailer</a>
    {% endif %}
    {% else %}
    <a href="{% url "login" %}" class="button">Login to shop</a>
    {% endif %}
    </p>
    {% endblock %}
    
